{% extends "layout.html" %}

{% block content %}
  <h3>Add a Page</h3>
  <hr>
  <form method="POST" action="/wiki/">
    
  <div class="form-group">

    <div class="col-sm-10">
      <label for="nombreAutor"><h4>Tu Nombre:</h4>
        <input type="text" name="nombre"  id="nombreAutor">
      </label>
    </div>

    <div class="col-sm-10">
      <label for="emailAutor"><h4>Tu Email:</h4>
        <input type="text" name="email"  id="emailAutor">
      </label>
    </div>
    

    <div class="col-sm-10">
      <label for="title" ><h4>Page Title</h4>
        <input name="title" type="text" id="title" />
      </label>
    </div>

    
    <div class="col-sm-10">
       <label for="postContent"><h4>Redactá el cuerpo de tu publicación</h4>
         <textarea name="postContent" id="postContent" rows="15" cols="80"></textarea>
       </label> 
    </div>
    
    <div>PLACEHOLDER FOR PAGE STATUS INPUT FIELD</div>

    <div class="col-sm-offset-2 col-sm-10">
        <br> 
      <button type="submit" class="btn btn-primary">SUBMIT</button>
    </div>
  
  </form>
{% endblock %}